*{
}


body{
height: auto;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 50px;
background-color: moccasin;

}



.h1{
    width: 100%;
}

.opcoes{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;


}
.card{
    font-size: 40px;
}
.card-body{
    font-size: 20px;
    background-color:rgb(5, 5, 7);
}
    
.cardapio{
    display: flex;
    align-items: column;
    justify-content: center;
    font-size: 30px;
    
    
}
.card-img-top{
    height: 300px;
    width: auto;
    
}
.btn-group{
    margin-top: 20px;
    font-family: "Bungee Spice", sans-serif;
      font-weight: 400;
      font-style: normal;
 
}

@media(width <= 1024px){
    .opcoes{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        gap: 10px;
    
}
}
html, body{
    background: #E3E3D8;
    font-family: sans-serif;
    padding: 25px;
  }
  
.wrapper{
  width: 300px;
  height: 500px;
  background: white;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;

  &:hover{
  transform: scale(1);
  box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
  }
}

.container1{
  width:100%;
  height:100%;
}
.top1{
  height: 80%;
  width:100%;
  background: url(../imagens/moletomM.png) no-repeat center center; 
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  transition: all 100ms linear;
}
.top1:hover{
  height: 80%;
  width:100%;
  background: url(../imagens/moletonF.png) no-repeat center center; 
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  transition: all 100ms linear;
}
.container2{
  width:100%;
  height:100%;
}
.top2{
  height: 80%;
  width:100%;
  background: url(../imagens/camisa.avif) no-repeat center center; 
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  transition: all 100ms linear;
}
.top2:hover{
  height: 80%;
  width:100%;
  background: url(../imagens/camisaC.avif) no-repeat center center; 
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  transition: all 100ms linear;
}
.container3{
  width:100%;
  height:100%;
}
.top3{
  height: 80%;
  width:100%;
  background: url(../imagens/MCinza.avif) no-repeat center center; 
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  transition: all 100ms linear;
}
.top3:hover{
  height: 80%;
  width:100%;
  background: url(../imagens/MCinzaF.avif) no-repeat center center; 
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  transition: all 100ms linear;
}
        h1{
            margin:0;
            padding:0;
        }
        p{
            margin:0;
            padding:0;
        }
        .left{
          height:100%;
          width: 100%;
          background: #f4f4f4;
          position:relative;
          float:left;
        }
          .details{
           padding: 5px;
            float: left; 
            width: calc(70% - 40px);
          }
          .buy{
            float:right;
            width: calc(30% - 2px);
            height:100%;
            background: #f1f1f1;
            transition: background 0.5s;
            border-left:solid thin rgba(0,0,0,0.1);
            .i{
              font-size:30px;
              padding:30px;
              color: #254053;
              transition: transform 0.5s;
            }
            &:hover{
              background: #A6CDDE;
            }
            &:hover i{
              transform: translateY(5px);
              color:#00394B;
            }
        
        .right{
          width: 50%;
          background: #A6CDDE;
          color: white;
          float:right;
          height:200%;
          overflow: hidden;
        }
          .details{
            padding: 20px;
            float: right;
            width: calc(70% - 40px);
          }
          .done{
            width: calc(30% - 2px);
            float:left;
            transition: transform 0.5s;
            border-right:solid thin rgba(255,255,255,0.3);
            height:50%;
          }
          .i{
            font-size:30px;
            padding:30px;
            color: white;
          }
          .remove{
            width: calc(30% - 1px);
            clear: both;
            border-right:solid thin rgba(255,255,255,0.3);
            height:50%;
            background: #0e090a;
            transition: transform 0.5s, background 0.5s;
            &:hover{
              background: #181516;
            }
            &:hover i{
              transform: translateY(5px);
            }
            i{
              transition: transform 0.5s;
              font-size:30px;
              padding:30px;
              color: white;
            }
          }
          &:hover{
            .remove, 
            .done{
              transform: translateY(-100%);
            }
          }
        }
     
    
    .inside{
      z-index:9;
      background: #92879B;
      width:140px;
      height:140px;
      position: absolute;
      top: -70px;
      right: -70px;
      border-radius: 0px 0px 200px 200px;
      transition: all 0.5s, border-radius 2s, top 1s;
      overflow: hidden;
    
      .icon{
        position:absolute;
        right:85px;
        top:85px;
        color:white;
        opacity: 1;
      }
      &:hover{
        width:100%;
        right:0;
        top:0;
        border-radius: 0;
        height:80%;
        .icon{
          opacity: 0;
          right:15px;
          top:15px;
        }
        .contents{
          opacity: 1;
          transform: scale(1);
          transform: translateY(0);
        }
      }
      .contents{
        padding: 5%;
        opacity: 0;
        transform: scale(0.5);
        transform: translateY(-200%);
        transition: opacity 0.2s, transform 0.8s;
        table{
          text-align:left;
          width:100%;
        }
        h1, p, table{
          color: white;
        }
        p{
          font-size:13px;
        }
      }
    }
  .moleta{
    font-size: medium;
    }
    .CamiB{
      font-size: medium;
    }
    .container4{
      width:100%;
      height:100%;
    }
    .top4{
      height: 80%;
      width:100%;
      background: url(../imagens/Force.avif) no-repeat center center; 
      -webkit-background-size: 100%;
      -moz-background-size: 100%;
      -o-background-size: 100%;
      background-size: 100%;
      transition: all 100ms linear;
    }
    .top4:hover{
      height: 80%;
      width:100%;
      background: url(../imagens/ForceH.avif) no-repeat center center; 
      -webkit-background-size: 100%;
      -moz-background-size: 100%;
      -o-background-size: 100%;
      background-size: 100%;
      transition: all 100ms linear;
    }
    .container5{
      width:100%;
      height:100%;
    }
    .top5{
      height: 80%;
      width:100%;
      background: url(../imagens/airmax1.avif) no-repeat center center; 
      -webkit-background-size: 100%;
      -moz-background-size: 100%;
      -o-background-size: 100%;
      background-size: 100%;
      transition: all 100ms linear;
    }
    .top5:hover{
      height: 80%;
      width:100%;
      background: url(../imagens/airmax2.avif) no-repeat center center; 
      -webkit-background-size: 100%;
      -moz-background-size: 100%;
      -o-background-size: 100%;
      background-size: 100%;
      transition: all 100ms linear;
    }
    .container6{
      width:100%;
      height:100%;
    }
    .top6{
      height: 80%;
      width:100%;
      background: url(../imagens/ozmillen1.avif) no-repeat center center; 
      -webkit-background-size: 100%;
      -moz-background-size: 100%;
      -o-background-size: 100%;
      background-size: 100%;
      transition: all 100ms linear;
    }
    .top6:hover{
      height: 80%;
      width:100%;
      background: url(../imagens/ozmillen2.avif) no-repeat center center; 
      -webkit-background-size: 100%;
      -moz-background-size: 100%;
      -o-background-size: 100%;
      background-size: 100%;
      transition: all 100ms linear;
    }
    .container7{
      width:100%;
      height:100%;
    }
    .top7{
      height: 80%;
      width:100%;
      background: url(../imagens/jogger1.avif) no-repeat center center; 
      -webkit-background-size: 100%;
      -moz-background-size: 100%;
      -o-background-size: 100%;
      background-size: 100%;
      transition: all 100ms linear;
    }
    .top7:hover{
      height: 80%;
      width:100%;
      background: url(../imagens/jogger2.avif) no-repeat center center; 
      -webkit-background-size: 100%;
      -moz-background-size: 100%;
      -o-background-size: 100%;
      background-size: 100%;
      transition: all 100ms linear;
    }
    .container8{
      width:100%;
      height:100%;
    }
    .top8{
      height: 80%;
      width:100%;
      background: url(../imagens/nylon1.avif) no-repeat center center; 
      -webkit-background-size: 100%;
      -moz-background-size: 100%;
      -o-background-size: 100%;
      background-size: 100%;
      transition: all 100ms linear;
    }
    .top8:hover{
      height: 80%;
      width:100%;
      background: url(../imagens/nylon2.avif) no-repeat center center; 
      -webkit-background-size: 100%;
      -moz-background-size: 100%;
      -o-background-size: 100%;
      background-size: 100%;
      transition: all 100ms linear;
    }
    .container9{
      width:100%;
      height:100%;
    }
    .top9{
      height: 80%;
      width:100%;
      background: url(../imagens/faca1.avif) no-repeat center center; 
      -webkit-background-size: 100%;
      -moz-background-size: 100%;
      -o-background-size: 100%;
      background-size: 100%;
      transition: all 100ms linear;
    }
    .top9:hover{
      height: 80%;
      width:100%;
      background: url(../imagens/faca2.avif) no-repeat center center; 
      -webkit-background-size: 100%;
      -moz-background-size: 100%;
      -o-background-size: 100%;
      background-size: 100%;
      transition: all 100ms linear;
    }
    .topBlusa1{
      height: 80%;
      width:100%;
      background: url(../imagens/topBlusa1.avif) no-repeat center center; 
      -webkit-background-size: 100%;
      -moz-background-size: 100%;
      -o-background-size: 100%;
      background-size: 100%;
      transition: all 100ms linear;
    }
    .topBlusa1:hover{
      height: 80%;
      width:100%;
      background: url(../imagens/topBlusa1H.avif) no-repeat center center; 
      -webkit-background-size: 100%;
      -moz-background-size: 100%;
      -o-background-size: 100%;
      background-size: 100%;
      transition: all 100ms linear;
    }
    .topBlusa2{
      height: 80%;
      width:100%;
      background: url(../imagens/topBlusa2.avif) no-repeat center center; 
      -webkit-background-size: 100%;
      -moz-background-size: 100%;
      -o-background-size: 100%;
      background-size: 100%;
      transition: all 100ms linear;
    }
    .topBlusa2:hover{
      height: 80%;
      width:100%;
      background: url(../imagens/topBlusa2H.avif) no-repeat center center; 
      -webkit-background-size: 100%;
      -moz-background-size: 100%;
      -o-background-size: 100%;
      background-size: 100%;
      transition: all 100ms linear;
    }
    .topAf12{
      height: 80%;
      width:100%;
      background: url(../imagens/Af1.2.avif) no-repeat center center; 
      -webkit-background-size: 100%;
      -moz-background-size: 100%;
      -o-background-size: 100%;
      background-size: 100%;
      transition: all 100ms linear;
    }
    .topAf12:hover{
      height: 80%;
      width:100%;
      background: url(../imagens/Af1.2H.avif) no-repeat center center; 
      -webkit-background-size: 100%;
      -moz-background-size: 100%;
      -o-background-size: 100%;
      background-size: 100%;
      transition: all 100ms linear;
    }
    .ten1{
      height: 80%;
      width:100%;
      background: url(../imagens/ten1.avif) no-repeat center center; 
      -webkit-background-size: 100%;
      -moz-background-size: 100%;
      -o-background-size: 100%;
      background-size: 100%;
      transition: all 100ms linear;
    }
    .ten1:hover{
      height: 80%;
      width:100%;
      background: url(../imagens/ten1H.avif) no-repeat center center; 
      -webkit-background-size: 100%;
      -moz-background-size: 100%;
      -o-background-size: 100%;
      background-size: 100%;
      transition: all 100ms linear;
    }
    .cal1{
      height: 80%;
      width:100%;
      background: url(../imagens/cal1.avif) no-repeat center center; 
      -webkit-background-size: 100%;
      -moz-background-size: 100%;
      -o-background-size: 100%;
      background-size: 100%;
      transition: all 100ms linear;
    }
    .cal1:hover{
      height: 80%;
      width:100%;
      background: url(../imagens/cal1H.avif) no-repeat center center; 
      -webkit-background-size: 100%;
      -moz-background-size: 100%;
      -o-background-size: 100%;
      background-size: 100%;
      transition: all 100ms linear;
    }
    .cal2{
      height: 80%;
      width:100%;
      background: url(../imagens/cal2.avif) no-repeat center center; 
      -webkit-background-size: 100%;
      -moz-background-size: 100%;
      -o-background-size: 100%;
      background-size: 100%;
      transition: all 100ms linear;
    }
    .cal2:hover{
      height: 80%;
      width:100%;
      background: url(../imagens/cal2H.avif) no-repeat center center; 
      -webkit-background-size: 100%;
      -moz-background-size: 100%;
      -o-background-size: 100%;
      background-size: 100%;
      transition: all 100ms linear;
    }
    .ber1{
      height: 80%;
      width:100%;
      background: url(../imagens/Berm1.avif) no-repeat center center; 
      -webkit-background-size: 100%;
      -moz-background-size: 100%;
      -o-background-size: 100%;
      background-size: 100%;
      transition: all 100ms linear;
    }
    .ber1:hover{
      height: 80%;
      width:100%;
      background: url(../imagens/berm1H.avif) no-repeat center center; 
      -webkit-background-size: 100%;
      -moz-background-size: 100%;
      -o-background-size: 100%;
      background-size: 100%;
      transition: all 100ms linear;
    }
    .bungee-spice-regular {
      font-family: "Bungee Spice", sans-serif;
      font-weight: 400;
      font-style: normal;
      display: flex;
      align-items: column;
      justify-content: center;
      font-size: 30px;

    }
    
  